*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/cover

# git
*.git

# virtualenv
venv*

# custom
*.pyc
*.swp
*.bak
tags
.idea/
.pdbrc
TAGS
cscope.*
